@font-face {
  font-family: "Game Station";
  src: url("../fonts/GamestationCond.otf");
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Game Station";
  letter-spacing: 2px;
  font-weight: 100;
  background-color: #f2f2f2;
}
.header {
  width: 100%;
  height: fit-content;
}
.header_top-section {
  width: 100%;
  height: 45px;
  background-color: #21252b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_bottom-section {
  height: 70px;
}

.top-section_contact-panel {
  margin-left: 100px;
  width: 35%;
  display: flex;
}
.contact-panel_number-section {
  display: flex;
  align-items: center;
  width: 50%;
}

.top-section_social-panel {
  margin-right: 100px;
  width: 30%;
  display: flex;
  justify-content: center;
}

.contact-panel_mail-section {
  display: flex;
  align-items: center;
  width: 50%;
}
.number-section_phone-icon {
  background-color: #043689;
  width: 30px;
  height: 30px;
  background-image: url(../images/phone.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  margin-right: 10px;
  background-size: 70%;
}

.number-section_mail-icon {
  background-color: #043689;
  width: 30px;
  height: 30px;
  background-image: url(../images/mail.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  border-radius: 8px;
  margin-right: 10px;
}

.number-section_contact {
  text-decoration: none;
  color: white;
  font-size: 15px;
  outline: none;
}

.header_image {
  width: 40px;
  height: 40px;
}
.header_bottom-section {
  display: flex;
  align-items: center;
}
.bottom-section_logo-section {
  margin-left: 100px;
  width: 60px;
  height: 60px;
  background-image: url(../images/favicon.png);
  background-size: cover;
}

.bottom-section_navigation-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.bottom-section_navigation-section > a {
  height: 70px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #21252b;
  margin-left: 20px;
}

.bottom-section_navigation-section > a:hover {
  box-shadow: inset 100px 100px 5px rgba(0, 0, 0, 0.3);
}

.main_landing-section {
  width: 100%;
  position: relative;
  background-image: url("../images/landing_image.png");
  min-height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 2000px 2000px 1000px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-section_image {
  width: 200px;
  height: 200px;
  margin-top: 30px;
}

.landing-section_name {
  margin-top: 50px;
  color: white;
  font-size: 64px;
  font-family: "Game Station";
  letter-spacing: 5px;
}

.landing-section_name + a {
  text-decoration: none;
  width: 30%;
  margin-top: 50px;
}

.orderCall-button {
  color: white;
  text-align: center;
  font-size: 30px;
  background-color: #5cd65c;
  padding: 10px 50px;
  border-radius: 8px;
}

.orderCall-button:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.main_services-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  margin-bottom: 50px;
}

.services-section_header,
.faa-section_header {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.services-section_body {
  display: flex;
  width: 100%;
  justify-content: center;
}

.service-body_geo,
.service-body_tech,
.service-body_law {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 10px;
}
.service_header {
  background-color: #043689;
  padding: 15px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.service_body-content {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  margin-top: 0px;
  padding-left: 0px;
}

.service_body-content > li {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  border: 1px solid #f2f2f2;
  border-top: 0px;
  cursor: pointer;
  text-align: center;
  font-weight: normal;
}

.service_body-content > li:hover {
  box-shadow: inset 100px 100px 10px rgba(0, 0, 0, 0.1);
}
.faa-section_question-block {
  background-color: #043689;
  width: 95%;
  height: fit-content;
  margin-bottom: 15px;
  color: white;
}
.main_faa-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
input[name="faa-question"] {
  display: none;
}
.question-block_header {
  padding: 15px 0px 15px 15px;
  display: flex;
  text-transform: uppercase;
  font-weight: normal;
  cursor: pointer;
  line-height: 20px;
  font-size: 13px;
}
.question-block_content {
  background-color: #fff;
  border: 1px solid #f2f2f2;
  padding: 30px 15px 10px 15px;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  color: black;
}
input[name="faa-question"]:checked ~ .question-block_content {
  display: flex;
}
.question-block_content {
  display: none;
}

.main_about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.about_header {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.about_content {
  border: 1px solid #f2f2f2;
  width: 95%;
  line-height: 30px;
}

.combine-section {
  display: flex;
}
.about_intro {
  color: #043689;
  font-weight: bold;
}

.main_contact-section {
  background-color: #21252b;
  width: 100%;
  padding-top: 30px;
  height: fit-content;
  height: -moz-fit-content;
  display: flex;
  justify-content: space-around;
}
.contact-section_company,
.contact-section_contact-section,
.contact-section_social {
  display: flex;
  flex-direction: column;
}

.contact-section_company {
  margin-left: 10px;
}
.contact-section_social {
  margin-right: 10px;
}

.contact_header {
  text-transform: uppercase;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.caddoc {
  width: 17%;
  border-bottom: 2px solid #043689;
}

.contact {
  width: 50%;
  border-bottom: 2px solid #043689;
}

.internet {
  width: 100%;
  border-bottom: 2px solid #043689;
}
.contact_content {
  margin-top: 20px;
  color: white;
  line-height: 30px;
}

.contact_icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.contact-line > a {
  text-decoration: none;
  color: white;
}
#header {
  background-color: #fff;
  z-index: 100;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .main {
  padding-top: 60px;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 10000;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

@media (min-width: 720px) and (max-width: 1023px) {
  .top-section_contact-panel {
    margin-left: 10px;
    width: 50%;
  }
  .contact-panel_number-section {
    width: 40%;
  }
  .contact-panel_mail-section {
    width: 60%;
  }
  .bottom-section_logo-section {
    margin-left: 10px;
  }
  .landing-section_name {
    font-size: 40px;
  }
  .services-section_header {
    font-size: 20px;
  }
  .service_header {
    font-size: 15px;
  }
  .service_body-content > li {
    font-size: 14px;
  }
  .question-block_header {
    font-size: 12px;
  }
  .about_content {
    font-size: 13px;
  }
  .contact_content {
    font-size: 12px;
  }
  .main_contact-section {
    justify-content: space-between;
  }
  .eight,
  .second,
  .fifth {
    display: none;
  }
}

@media screen and (min-width: 600px) and (max-width: 719px) {
  .top-section_contact-panel {
    margin-left: 10px;
    width: 70%;
  }
  .contact-panel_number-section {
    width: 40%;
  }
  .contact-panel_mail-section {
    width: 60%;
  }
  .bottom-section_logo-section {
    margin-left: 10px;
  }
  .landing-section_name {
    font-size: 30px;
  }
  .services-section_header {
    font-size: 16px;
  }
  .service_header {
    font-size: 14px;
  }
  .service_body-content > li {
    font-size: 13px;
  }
  .question-block_header {
    font-size: 12px;
  }
  .about_content {
    font-size: 11px;
    line-height: 20px;
  }
  .contact_content {
    font-size: 12px;
  }
  .main_contact-section {
    justify-content: space-between;
  }
  .eight,
  .second,
  .fifth {
    display: none;
  }
  .top-section_social-panel {
    margin-right: 10px;
  }
  .bottom-section_navigation-section > a {
    font-size: 14px;
  }
  .main_services-section {
    padding-top: 50px;
  }
  .contact_header {
    font-size: 12px;
  }
  .contact_content {
    font-size: 10px;
    line-height: 20px;
  }
  .contact_icon {
    width: 10px;
    height: 10px;
  }
  .header_image {
    width: 30px;
    height: 30px;
  }
  .main_landing-section {
    min-height: 400px;
  }
}

@media screen and (min-width: 414px) and (max-width: 599px) {
  .top-section_contact-panel {
    margin-left: 10px;
    width: 100%;
  }
  .contact-panel_number-section {
    width: 40%;
  }
  .contact-panel_mail-section {
    width: 60%;
  }
  .bottom-section_logo-section {
    margin-left: 10px;
  }
  .landing-section_name {
    font-size: 30px;
  }
  .services-section_header {
    font-size: 16px;
  }
  .service_header {
    font-size: 14px;
  }
  .service_body-content > li {
    font-size: 13px;
  }
  .question-block_header {
    font-size: 12px;
  }
  .about_content {
    font-size: 11px;
    line-height: 20px;
  }
  .contact_content {
    font-size: 12px;
  }
  .main_contact-section {
    justify-content: space-between;
  }
  .eight,
  .second,
  .fifth {
    display: none;
  }
  .top-section_social-panel {
    display: none;
  }
  .bottom-section_navigation-section > a {
    font-size: 12px;
    margin-left: 0;
  }
  .main_services-section {
    padding-top: 50px;
  }
  .contact_header {
    font-size: 12px;
  }
  .contact_content {
    font-size: 10px;
    line-height: 20px;
  }
  .contact_icon {
    width: 10px;
    height: 10px;
  }
  .header_image {
    width: 30px;
    height: 30px;
  }
  .main_landing-section {
    min-height: 400px;
  }
  .header_bottom-section {
    height: 50px;
  }
  .bottom-section_logo-section {
    width: 40px;
    height: 40px;
  }
  .bottom-section_navigation-section > a {
    height: 50px;
    width: 25%;
  }
  .bottom-section_navigation-section {
    width: 90%;
  }
  .sticky {
    width: 100%;
  }
  .services-section_body {
    display: flex;
    overflow-x: scroll;
    height: auto;
    justify-content: flex-start;
  }
  .service-body_geo,
  .service-body_tech,
  .service-body_law {
    flex-basis: 90%;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
  }
  .service-body_geo {
    margin-left: 190%;
  }
  .combine-section {
    flex-direction: column;
  }
  .main_faa-section {
    width: 100%;
  }
  .main_about-section {
    width: 100%;
  }
  .caddoc_global {
    display: none;
  }
  .main_contact-section {
    padding-top: 10px;
    justify-content: space-around;
  }
  .landing-section_name {
    font-size: 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 413px) {
  .top-section_contact-panel {
    margin-left: 10px;
    width: 100%;
  }
  .contact-panel_number-section {
    width: 40%;
  }
  .contact-panel_mail-section {
    width: 60%;
  }
  .bottom-section_logo-section {
    margin-left: 10px;
  }
  .landing-section_name {
    font-size: 30px;
  }
  .services-section_header {
    font-size: 16px;
  }
  .service_header {
    font-size: 14px;
  }
  .service_body-content > li {
    font-size: 13px;
  }
  .question-block_header {
    font-size: 12px;
  }
  .about_content {
    font-size: 11px;
    line-height: 20px;
  }
  .contact_content {
    font-size: 12px;
  }
  .main_contact-section {
    justify-content: space-between;
  }
  .eight,
  .second,
  .fifth {
    display: none;
  }
  .top-section_social-panel {
    display: none;
  }
  .bottom-section_navigation-section > a {
    font-size: 9px;
    margin-left: 0;
  }
  .main_services-section {
    padding-top: 50px;
  }
  .contact_header {
    font-size: 12px;
  }
  .contact_content {
    font-size: 10px;
    line-height: 20px;
  }
  .contact_icon {
    width: 10px;
    height: 10px;
  }
  .header_image {
    width: 30px;
    height: 30px;
  }
  .main_landing-section {
    min-height: 400px;
  }
  .header_bottom-section {
    height: 50px;
  }
  .bottom-section_logo-section {
    width: 40px;
    height: 40px;
  }
  .bottom-section_navigation-section > a {
    height: 50px;
    width: 25%;
  }
  .bottom-section_navigation-section {
    width: 90%;
  }
  .sticky {
    width: 100%;
  }
  .services-section_body {
    display: flex;
    overflow-x: scroll;
    height: auto;
    justify-content: flex-start;
  }
  .service-body_geo,
  .service-body_tech,
  .service-body_law {
    flex-basis: 90%;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
  }
  .service-body_geo {
    margin-left: 190%;
  }
  .combine-section {
    flex-direction: column;
  }
  .main_faa-section {
    width: 100%;
  }
  .main_about-section {
    width: 100%;
  }
  .caddoc_global {
    display: none;
  }
  .main_contact-section {
    padding-top: 10px;
    justify-content: space-around;
  }
  .landing-section_name {
    font-size: 20px;
  }
  .question-block_header {
    padding: 5px 0px 5px 5px;
  }
  .faa-section_question-block {
    width: 100%;
  }
  .number-section_contact {
    font-size: 12px;
  }
}
